<?xml version="1.0"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd 
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context.xsd 
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop.xsd" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans">
		<bean id="loginService" parent="transactionProxy">
			<property name="target">
				<bean  class="com.ouyang.ua.service.impl.LoginServiceImpl">
					<property name="userDao">
						<ref bean="userDao"/>
					</property>
				</bean>
			</property>
		</bean>
		<bean id="menuTreeService" parent="transactionProxy">
			<property name="target">
				<bean  class="com.ouyang.ua.service.impl.MenuTreeServiceImpl">
				</bean>
			</property>
		</bean>
		<bean id="menuService" parent="transactionProxy">
			<property name="target">
				<bean  class="com.ouyang.ua.service.impl.MenuServiceImpl">
					<property name="menuDao">
						<ref bean="menuDao"/>
					</property>
				</bean>
			</property>
		</bean>
</beans>